body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.context > ul {
    padding: 0;
    padding-right: 1em;
    margin: 0;
    margin-top: 0.5em;
    min-width: 10em;
}

.context > ul li {
    list-style: none;
}

.context > ul a, body > a {
    text-decoration: underline;
    color: rgb(151, 151, 151);
    margin-bottom: 2em;
    display: inline-block;
}

.context > ul a:hover, body > a:hover {
    color: rgb(209, 209, 209);
}

.context {
    display: flex;
}

@media screen and (max-width: 992px) {
    body {
        padding: 1em;
    }
    
    .context {
        flex-direction: column;
    }

    .context img {
	max-width: calc(100vw - 1em);
	height: auto !important;
    }
}
